@import "tailwindcss";

@theme {
  /*accent*/
  --color-slate-850: #f7fafc;
  /*bg*/
  --color-slate-900: #1a202c; 
}

body {
  background-color: var(--color-slate-900);
  color: var(--color-slate-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}